/* .footer{
    background-color: black;
    height: 5rem;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
} */

.footer {
    background-color: black;
    margin-top: 0; /* take available whitespace */
    margin-bottom: -100px;      /* remove bottom whitespace */
    padding-bottom: 5px;
    height: auto;  
    width: 100vw;
}

/* .footer {
    background-color: black;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5rem;
  } */

.footer-contents{
    padding: 0.1rem;
    box-sizing: border-box;
    color: white;
    font-family: 'Poppins';
    justify-content: space-between;
    align-items: center;
}

.media-link{
    margin: 1rem;
    display: flex;
}
.media-link a{
    margin-right: 2rem;
    /* text-decoration: none; */
    color: white;
}
.copyright{
    margin: 1rem;
    text-align: center;
}
.copyright h3{
    display: inline;
}
.copyright a{
    text-decoration: none;
    color: white;
}